<div class="modal fade" id="{{name}}Module" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-custom {{specificClass}}">
            <div class="modal-header border-custom {{specificClass}} justify-content-center">
                <h4 class="modal-title text-center">{{name}}</h4>
            </div>
            {{#if isDone}}
                <div id="{{name}}BodyDone" class="modal-body">
                    <div class="row justify-content-center text-center" style="font-size: 25px">
                        <h4>Módulo Finalizado</h4>
                    </div>
                </div>
            {{else}}
                <div id="{{name}}BodyNot" class="modal-body">

                    <div class="row justify-content-center text-center mb-3 px-3">

                        <h5>Caminho</h5>

                        <input type="radio" name="lambdaRadio" class="d-none" value="0" autocomplete="off" checked>

                        <div class="col-sm-2 my-2">
                            <input value="1" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-1" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-1" for="btn-check-lambda-1">
                                <img class="img-fluid" src="/system10/assets/lambda/1.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="2" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-2" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-2" for="btn-check-lambda-2">
                                <img class="img-fluid" src="/system10/assets/lambda/2.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="3" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-3" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-3" for="btn-check-lambda-3">
                                <img class="img-fluid" src="/system10/assets/lambda/3.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="4" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-4" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-4" for="btn-check-lambda-4">
                                <img class="img-fluid" src="/system10/assets/lambda/4.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="5" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-5" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-5" for="btn-check-lambda-5">
                                <img class="img-fluid" src="/system10/assets/lambda/5.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="6" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-6" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-6" for="btn-check-lambda-6">
                                <img class="img-fluid" src="/system10/assets/lambda/6.png">
                            </label>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-sm-2 my-2">
                            <input value="7" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-7" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-7" for="btn-check-lambda-7">
                                <img class="img-fluid" src="/system10/assets/lambda/7.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="8" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-8" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-8" for="btn-check-lambda-8">
                                <img class="img-fluid" src="/system10/assets/lambda/8.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="9" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-9" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-9" for="btn-check-lambda-9">
                                <img class="img-fluid" src="/system10/assets/lambda/9.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="10" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-10" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-10" for="btn-check-lambda-10">
                                <img class="img-fluid" src="/system10/assets/lambda/10.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="11" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-11" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-11" for="btn-check-lambda-11">
                                <img class="img-fluid" src="/system10/assets/lambda/11.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="12" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-12" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-12" for="btn-check-lambda-12">
                                <img class="img-fluid" src="/system10/assets/lambda/12.png">
                            </label>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-sm-2 my-2">
                            <input value="13" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-13" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-13" for="btn-check-lambda-13">
                                <img class="img-fluid" src="/system10/assets/lambda/13.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="14" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-14" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-14" for="btn-check-lambda-14">
                                <img class="img-fluid" src="/system10/assets/lambda/14.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="15" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-15" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-15" for="btn-check-lambda-15">
                                <img class="img-fluid" src="/system10/assets/lambda/15.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="16" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-16" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-16" for="btn-check-lambda-16">
                                <img class="img-fluid" src="/system10/assets/lambda/16.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="17" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-17" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-17" for="btn-check-lambda-17">
                                <img class="img-fluid" src="/system10/assets/lambda/17.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="18" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-18" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-18" for="btn-check-lambda-18">
                                <img class="img-fluid" src="/system10/assets/lambda/18.png">
                            </label>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-sm-2 my-2">
                            <input value="19" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-19" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-19" for="btn-check-lambda-19">
                                <img class="img-fluid" src="/system10/assets/lambda/19.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="20" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-20" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-20" for="btn-check-lambda-20">
                                <img class="img-fluid" src="/system10/assets/lambda/20.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="21" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-21" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-21" for="btn-check-lambda-21">
                                <img class="img-fluid" src="/system10/assets/lambda/21.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="22" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-22" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-22" for="btn-check-lambda-22">
                                <img class="img-fluid" src="/system10/assets/lambda/22.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="23" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-23" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-23" for="btn-check-lambda-23">
                                <img class="img-fluid" src="/system10/assets/lambda/23.png">
                            </label>
                        </div>

                        <div class="col-sm-2 my-2">
                            <input value="24" type="radio" name="lambdaRadio" class="btn-check" id="btn-check-lambda-24" autocomplete="off">
                            <label class="btn btn-outline-check" id="label-check-lambda-24" for="btn-check-lambda-24">
                                <img class="img-fluid" src="/system10/assets/lambda/24.png">
                            </label>
                        </div>

                    </div>

                    <button id="buttonLambdaSubmit" type="button" class="btn btn-outline-light mb-3" onclick="lambdaSubmit()">Enviar</button>

                    <h5 id="countdownLambda" class="d-none">20</h5>

                </div>

                <div id="{{name}}BodyDone" class="modal-body d-none">
                    <div class="row justify-content-center text-center" style="font-size: 25px">
                        <h4>Módulo Finalizado</h4>
                    </div>
                </div>

            {{/if}}
        </div>
    </div>
</div> 