{{#each this}}

    <div class="col-6 col-lg-3 my-2 all {{dateFormated}} {{situation}}">
        <a role="button" class="card-box border-{{situation}}" href="/room10c/admin/updateGroup/show/{{_id}}">
            <div class="card-box-title m-0">G#{{num}}</div>
            <div class="card-box-caption">
                <div class="description-head">
                    {{dateFormated}}
                </div>
                <div class="description-body">
                    #{{numParticipants}}
                </div>
            </div>
        </a>
    </div>

{{/each}}