{{#if @root.initPhase}}
    <div class="col-12 my-2" id="{{name}}Card">
{{else}}
    <div class="col-6 my-2" id="{{name}}Card">
{{/if}}

    <a id="{{name}}TagA" role="button" target="_blank" class="games-box btn btn-module {{specificClass}} w-100 card-module d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#{{name}}Module" onclick="moduleSound()">
        <div id="{{name}}TitleCard" class="games-box-title {{specificClass}}">{{name}}</div>

        <div class="games-box-caption">
            <div class="platform-body">{{{letter}}}</div>
        </div>
    </a>
</div>

{{> (lookup . 'path') this}}
