<!-- Example Modal Room-->
{{! <div
	class='modal fade'
	id='exampleModalRoom'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog modal-lg modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title modalRoomTitle'></h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				<img class='modalRoomImage' width='100%' />
				<p class='mt-2 modalRoomDescription'></p>
			</div>
		</div>
	</div>
</div> }}

<!-- Example Modal Room-->
<div class='modal fade' id='modal{{roomId}}' tabindex='-1'>
	<div class='modal-dialog modal-lg modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>{{theme}} {{name}}</h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				<img src='{{imageFull}}' width='100%' />
				<p class='mt-2'>{{description}}</p>
			</div>
		</div>
	</div>
</div>