<!-- Navigation-->
<nav class='navbar navbar-expand-lg navbar-light fixed-top' id='mainNav'>
	<div class='container'>
		<a class='navbar-brand' href='#pageTop' id='pageTop' role='button'>
			<img href='#pageTop' src='/assets/img/logos/keyscape_sq.png' alt='logo' width='25' height='25' class='d-inline-block align-text-top me-1'>
			<span href='#pageTop'>{{{projectName}}}</span>
		</a>

		<button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive'>
			<span class='navbar-toggler-icon'></span>
		</button>

		<div class='collapse navbar-collapse' id='navbarResponsive'>
			<ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
				<li class='nav-item'>
					<a class='nav-link' href='#about'>Sobre</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='#rooms'>Salas</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='#events'>Eventos</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='#team'>Equipe</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='#program'>Programa</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='#contact'>Contato</a>
				</li>
				<li class='nav-item' style="padding-top: .2rem!important;">
					<a class='nav-link align-items-center' href='/room10c'><i class="fas fa-sign-in-alt"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Masthead-->
<header class='masthead'>
	<div class='container h-100'>
		<div class='row h-100 align-items-center justify-content-center text-center'>
			<div class='col-lg-10 align-self-end'>
				<h1 class='text-uppercase text-white font-weight-bold'>
					{{{projectName}}}
				</h1>
				<hr class='divider my-4 mx-auto'>
			</div>
			<div class='col-lg-8 align-self-baseline'>
				<p class='text-white-75 font-weight-light mb-5'>
					{{{projectDescription}}}
				</p>
			</div>
		</div>
	</div>
</header>

<!-- About-->
<section class='page-section bg-black' id='about'>
	<div class='container'>

		{{#each aboutSection}}
			<div class='row justify-content-center' style='padding-bottom: 20px'>
				<div class='col-lg-8 text-center'>
					<h2 class='text-white mt-0 section-heading'>
						{{{title}}}
					</h2>
					<hr class='divider light my-4 mx-auto'>
					<p class='text-gray mb-4'>
						{{{description}}}
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</section>

<section id='rooms'>
	<div class='container-fluid p-0'>
		<div class='row mx-0'>
			{{#each rooms}}
				{{> cardRoom this }}
				{{> modalRoom this }}
			{{/each}}
		</div>
	</div>
</section>

<!-- Next Events-->
<section class='page-section' id='events'>
	<div class='container'>
		<h2 class='text-center text-dark section-heading'>
			Eventos
		</h2>
		<hr class='divider dark my-4 mx-auto'>
		<div class='row justify-content-center'>

			{{#each events}}
				{{> cardEvent this }}
			{{else}}
				<div class='col-lg-6 col-md-8 text-center'>
					<h2 class='text-uppercase text-gray'>
						Não há eventos programados.
					</h2>
				</div>
			{{/each}}

		</div>
	</div>
</section>

<!-- Team-->
<section class='page-section bg-light' id='team'>
	<div class='container'>
		<div class='text-center'>
			<h2 class='text-dark section-heading'>
				Equipe
			</h2>
			<hr class='divider dark my-4 mx-auto'>
		</div>

		<div class='row justify-content-center'>
			<div class='col-12 col-lg-10'>
				<div class='row justify-content-center'>
					{{#each team.people}}
						<div class='col-sm-6 col-lg-{{../team.columns}}'>
							{{> cardTeam this }}
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Program-->
<section class='page-section' id='program'>
	<div class='container'>
		<div class='row justify-content-center mb-3'>
			<div class='col-lg-9 col-sm-9 text-center'>
				<h2 class='text-dark section-heading'>
					Programa
				</h2>
				<hr class='divider dark my-4 mx-auto'>
				<p class='text-gray'>
					{{{programSection.description}}}
				</p>
			</div>
		</div>

		<div class='row justify-content-center'>

			{{#each programSection.programs}}
				<div class='col-sm-4 col-lg-3 text-center mb-4 mb-lg-0'>
					<img height='200px' src='{{{image}}}'>
					<p class='text-gray mt-3 h5'>
						<b>{{{name}}}</b>
					</p>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<!-- Contact-->
<section class='page-section bg-black' id='contact'>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-lg-8 col-sm-6 text-center mb-4'>
				<h2 class='text-white section-heading'>
					Contato
				</h2>
				<hr class='divider my-4 mx-auto'>
				<p class='text-gray'>
					{{{contactSection.description}}}
				</p>
			</div>
		</div>
		<div class='row justify-content-center'>
			{{#each contactSection.contacts}}
				{{> cardContact this }}
			{{/each}}
		</div>
	</div>
</section>

<!-- Footer-->
<footer class='bg-light py-5'>
	<div class='container'>
		<div class='small text-center text-dark'>
			Copyright © {{{year}}} - Lucas do Prado Pinto
		</div>
	</div>
</footer>


<!-- jQuerry-->
<script src='/js/jquery-3.6.0.min.js'></script>

<!-- Bootstrap core JS-->

{{!-- <script src='/js/bootstrap.bundle.min.js'></script> --}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Core theme JS-->
<script src='/js/scripts.js'></script>