
<div id="backDiv" class="background background-custom {{className}} {{bgc}} vh-100">
    <div class="container-fluid h-100">

        <div class="row text-center mx-0" id="boxAll">

            <div class="col-12 border border-custom {{className}} position-relative">

                <div class="position-absolute myRecomends" style="right: 1%; top: 1%">

                    <input type="checkbox" class="btn-check" id="btn-check-back" autocomplete="off" onclick="staticBack(this.checked)">
                    <label class="btn btn-outline-danger" for="btn-check-back"><i class="fas fa-ban"></i></label><br>

                </div>

                <div style="height: 10%;" class="d-flex justify-content-center align-items-center">
                    <a role="button" data-bs-toggle="modal" data-bs-target="#infoCPU">
                        <h3 class="title-main {{className}}">Unidade Central de Processamento</h3>
                    </a>
                </div>

                <div class="row justify-content-center align-items-center" style="height: 85%;">

                    {{#if phaseOne}}
                        {{> system10/mainModules modules.omega }}
                        {{> system10/mainModules modules.delta }}

                        <div class="w-100"></div>
                    {{/if}}

                    {{> system10/allModules modules.mi }}
                    {{> system10/allModules modules.zeta }}
                    {{> system10/allModules modules.beta }}

                    <div class="w-100"></div>

                    {{> system10/allModules modules.sigma }}
                    {{> system10/allModules modules.epsilon }}

                    <div class="w-100"></div>

                    {{> system10/allModules modules.alfa }}
                    {{> system10/allModules modules.psi }}
                    {{> system10/allModules modules.lambda }}

                    <div class="w-100"></div>

                    {{> system10/allModules modules.gama }}
                    {{> system10/allModules modules.kappa }} 


                </div>
                    
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoCPU" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content {{className}}">
                {{#if isDone}}
                    <div class="modal-header justify-content-center {{className}}">
                        <h4 class="modal-title text-center">UNIDADE CENTRAL DE PROCESSAMENTO</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center text-center">
                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">NOME:</div>
                                <div>EULER</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">TIPO:</div>
                                <div>IA</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">CLASSE:</div>
                                <div>X+++</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">PROPRIEDADE:</div>
                                <div>EXPOENTE</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">PROG-N:</div>
                                <div>{{userName}}-{{groupNum}}</div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <div class="small text-white-50">STATUS:</div>
                                <div>OPERANTE</div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                {{{messageProblem}}}
                            </div>

                        </div>

                    </div>
                {{else}}
                    <div class="modal-header justify-content-center {{className}}">
                        <h4 class="modal-title text-center">Ų̴̡̱̞̙͇̖̓̾͝Ņ̶̢̥͍̀͋̄I̵̡̪͂̾̈͂̚͠DAD̵͎̉̄Ḙ̵̗̝͍̙͓̈̇  ̵̨̮̺͚͕͎̬͇̐̏̀̎̀̆͠Ć̷̟̇͋͐̑͠E̴̗̘̔̈́̈̂ͅN̷̜̫͌͑̌̿͂͝TR̷̨̫͙͎̗̬̦͔̋̏̕A̴̺̐̈́̋́̿̄̈́ͅL̸̞͚̳͎̈͗̀̒̌͋̕͘  ̷̯̝͑̄̄ͅD̸̮̝̖͙̗̎̃͐͊̒Ę̶̟͎̪̔͒́  ̷͉͉̮̳̗́̇̊̈́̓̏́̕P̶̢̡̘̳̱̞̱͠R̵̡̨̨̛͚͎̝̹͖̈́̈́͠OČ̴͕̺̰͒́̄̄̆É̵̺̹͖͙̳̭͉̦͆͑͒̏͘S̷̡̜̦̲̖̦̔S̷̢̱̹̩͈̳͎̆͛A̶͔̥͙̣̺͒̽̍̎͒̉́̕ME̸̠̲̜̚͝N̴̫͔͖̠̝̊̌͛͜͝T̵͖̄̂̅͘̚͝O̷̪̜̩̞̭͑̏̈́̄</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center text-center">
                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">NoM̸͖̗͖̐͝ͅe:</div>
                                <div>Ē̵͈̱͙̞Ṷ̴̓̌̍͝L̸̳̔͛͝E̵̞̖̾̍R̴̩͎̤̲̍</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">T̴̥̺̊̚ipo:</div>
                                <div>I̷̼͑Ḁ̷͍̾͝</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">ClaS̸̟̞̈̀S̴̙͍̜̓͐̚e:</div>
                                <div>X̴̝̰͋̽++̵̘̻̃̈́͑+̸͚̳̩̓̃̒͝</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">PropȒ̵̰̤͓̲̈́̊Ḯ̸̬̞͆͆̀ͅE̷̖̣̹̼͛͗dade:</div>
                                <div>ExpO̷̢̥̚enT̵͎͉̗̏̚e</div>
                            </div>

                            <div class="col-sm-4 mb-3">
                                <div class="small text-white-50">P̷̢̬̫̀̅͒̾ͅR̷̡̦͓͉̬̟͕̤͔̀̅͒͒Ǒ̸̡̙̦̺̰̙̲̈́́̽͌͆̚ͅG̷̝̅́̽̎-̶̜̦̤̘͔̼̙̳̼̎̍̏̃̅̚͝N̸̹̙̲̾̀̍̋͗̏̋͠</div>
                                <div>{{userName}}Ȓ̷̼̱͚E̸͕̥̿̂͠-{{groupNum}}</div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                <div class="small text-white-50">S̷͓͇̺͘taT̸̨͌ͅU̸̡͓͋̔͝s:</div>
                                <div class="text-danger">InoP̴̡̢̼̈́̎̅͑É̵͎̲̾̃ran%̷̩͛́͝!̶̢̳̠̌́̔͘!̵̞̬͎̭͊̂e̸̗̔e̸͉͑̐̅ ̸̢̛͕̀#̷̙̞͔̗̌̂̽E̶̺̅ŗ̷̣̰̐r̵̭͆̓_̸̤̃̃̐͝@̶̪̲̀͋͆͐</div>
                            </div>

                            <div class="col-sm-12 mb-3">
                                {{{messageProblem}}}
                            </div>

                        </div>

                    </div>
                {{/if}}
            </div>
        </div>
    </div>

    <input class="d-none" id="code88" value="{{code88}}">
    <input class="d-none" id="modulesDone" value="{{modulesDone}}">


    <script src="/js/jquery-3.6.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/system10/scripts.js"></script>

</div>
