

<div class="container-fluid height-mobile-100">
    <div class="row text-center mx-0 height-mobile-100">

        {{!-- Modules --}}
        <div class=" col-12 col-lg-4 border border-custom {{generalClass}} h-100">

            <div class="row justify-content-center align-items-center text-center h-100 overflow-auto">

                <h3 class="my-2">MÓDULOS</h3>

                {{#if deltaContent.showDelta}}
                    {{> system10/modules/deltaModule deltaContent}}
                {{/if}}

                {{#each modulesToShow}}
                    {{> system10/allModules this}}
                {{/each}}

                {{#if omegaContent.showOmega}}
                    {{> system10/modules/omegaModule omegaModuleContent}}
                {{/if}}

            </div>
        </div>

        {{!-- Omega, Info e Files --}}
        <div class="col-12 col-lg-8 height-mobile-100">

            {{!-- Omega e Info --}}
            <div class="row text-center height-mobile-75">

                {{!-- Omega --}}
                 <div class="col-12 col-lg-8 border-custom {{generalClass}} p-0 position-relative overflow-hidden">


                    {{!-- Options --}}
                    <div class="position-absolute font-nasalization" style="left: 1%; top: 1%; z-index: 10">

                        {{!-- Background --}}
                        <input type="checkbox" class="btn-check" id="btn-check-back" onclick="staticBack(this.checked)">
                        <label class="btn btn-outline-{{omegaContent.button}}" for="btn-check-back" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Imagem/GIF"><i id="iconBack" class="fas fa-ban"></i></label>

                        {{!-- Audio --}}
                        <div class="btn-group">
                            <input type="checkbox" class="btn-check" id="btn-check-audio" onclick="ambientSound(this.checked)">
                            <label class="btn btn-outline-{{omegaContent.button}}" for="btn-check-audio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Play/Pause"><i id="iconPlay" class="fas fa-play"></i></label>

                            <button type="button" class="btn btn-outline-{{omegaContent.button}} dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-dark small-1 px-1">
                                <label for="rangeVolume" class="form-label">Volume: <span id="spanVolume">12</span></label>
                                <input type="range" class="form-range" min="0" max="4" step="0.4" value="1.2" id="rangeVolume" onchange="changeVolume(this.value)">
                                <p id="pStateAudio" class="mb-1 mt-2 small text-{{omegaContent.button}} text-center">som desabilitado</p>
                            </ul>
                        </div>

                        {{!-- Voices --}}
                        <button class="btn btn-outline-{{omegaContent.button}} btn-sm dropdown-toggle d-none" type="button" id="dropdownVoices" data-bs-toggle="dropdown">
                            <i class="fas fa-microphone"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark {{generalClass}} small-1">
                            {{#each allVoices}}
                                <li><button id="{{_id}}" class="dropdown-item {{active}}" type="button" onclick="changeVoice(this)">{{name}}</button></li>
                            {{/each}}
                        </ul>


                    </div>

                    {{!-- Content --}}
                    <a class="card-box h-100 border-custom {{generalClass}} cursor-{{omegaContent.situation}}" data-bs-toggle="modal" data-bs-target="#omegaModule"> 
                        <div class="card-box-title">
                            <img id="gifOmega" src="/system10/assets/room/{{generalClass}}Omega.gif" width="100%">
                            <img id="imgOmega" class="d-none" src="/system10/assets/room/{{generalClass}}Omega.png" width="100%">
                        </div>
                        <div class="card-box-caption font-xirod">
                            <div class="caption-head shadow-custom {{generalClass}}">
                                <div class="mb-2 h5 text-light">MÓDULO PRINCIPAL</div>
                            </div>
                            <div class="caption-body shadow-custom {{generalClass}}">
                                <div class="h2">ÔMEGA <span class="h1 font-nasalization">(Ω)</span></div>
                                <div class="h2 m-0">{{omegaContent.status}}</div>
                            </div>
                        </div>
                    </a> 

                </div>

                {{!-- Info --}}
                <div class="col-12 col-lg-4 border border-custom {{generalClass}}" >

                    <div class="row justify-content-center align-items-center text-center height-mobile-100 py-3 overflow-auto {{infoContent.class}}">

                        <div class="col-sm-12">
                            <h5>UNIDADE CENTRAL DE PROCESSOS</h5>
                        </div>

                        <div class="col-sm-6">
                            <h6 class=" text-white-50">NOME:</h6>
                            <h6>EULER</h6>
                        </div>

                        <div class="col-sm-6">
                            <h6 class="text-white-50">T-UNIT:</h6>
                            <h6 id="timeSecondsShow">{{timeSeconds}}</h6>
                        </div>

                        <div class="col-sm-12">
                            <h6 class="text-white-50">CLASSE OPER.:</h6>
                            <h6>HIGH>>X+++</h6>
                        </div>

                        <div class="col-sm-12">
                            <h6 class="text-white-50">PROPRIEDADE:</h6>
                            <h6>EXPOENTE</h6>
                        </div>

                        <div class="col-sm-12">
                            <h6 class="text-white-50">PROG-N:</h6>
                            <h6>{{oneUser.username}}-{{oneGroup.num}}</h6>
                        </div>

                        <div class="col-sm-12">
                            <h6 class="text-white-50">STATUS:</h6>
                            <h6 class="text-{{infoContent.color}}">{{infoContent.status}}</h6>
                        </div>

                        <div class="col-sm-12">
                            <h6 class="text-{{infoContent.color}}">{{infoContent.text}}</h6>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Files --}}
            <div class="row text-center height-mobile-25">

                {{#each nFiles}}
                    <div class="col-6 col-sm-3 p-0 overflow-hidden">
                        <a role="button" class="card-box h-100 py-3 border-custom {{@root.generalClass}}" data-bs-toggle="modal" data-bs-target="#file{{this}}Modal">
                            <div class="card-box-title">
                                <img style="opacity: 0.85;" src="/system10/assets/room/file{{this}}.png" width="60%">
                            </div>
                            <div class="card-box-caption">
                                <div class="caption-head shadow-custom {{@root.generalClass}} text-light">
                                    Arquivo
                                </div>

                                <div class="caption-body shadow-custom {{@root.generalClass}}">
                                    #{{this}}
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}

                {{> system10/files/file1}}
                {{> system10/files/file2}}
                {{> system10/files/file3}}
                {{> system10/files/file4}}

            </div>
        </div>

    </div>
</div>

<input class="d-none" id="idGroup" value="{{oneParticipant.idGroup}}">
<input class="d-none" id="idParticipant" value="{{oneParticipant._id}}">
<input class="d-none" id="phaseGroup" value="{{oneGroup.phase}}">
<input class="d-none" id="omegaModuleSize" value="{{omegaModuleContent.length}}">
<input class="d-none" id="arrayIdOmegaModule" value="{{arrayIdOmegaModule}}">
<input class="d-none" id="modulesDone" value="{{modulesDone}}">
<input class="d-none" id="omegaReady" value="{{oneParticipant.omegaReady}}">
<input class="d-none" id="timeSeconds" value="{{timeSeconds}}">

{{!-- <script src="/js/jquery-3.6.0.min.js"></script> --}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="/system10/js/scripts.js"></script>

{{#each modulesNotDone}}
    <script src="/system10/js/modules/{{name}}.js"></script>
{{/each}}
