<div class="container-fluid height-mobile-100" style="background-color: rgba(0, 0, 0, 0.567);">

    <div class="row justify-content-center text-center">

        {{#if whatModule.mi}}

            <h3 class="my-2">INFOS</h3>

            <div class="col-6 col-sm-2 p-0 me-2 mb-3 overflow-hidden">
                <a role="button" class="card-box h-100 py-3 border-custom rounded" data-bs-toggle="modal" data-bs-target="#file3Modal">
                    <div class="card-box-title">
                        <img style="opacity: 0.85;" src="/system10c/assets/room/file3.png?assetsVersion={{@root.assetsVersion}}" width="60%">
                    </div>
                    <div class="card-box-caption">
                        <div class="caption-head shadow-custom text-light">
                            Arquivo
                        </div>

                        <div class="caption-body shadow-custom">
                            #3
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-6 col-sm-2 p-0 ms-2 mb-3 overflow-hidden">
                <a role="button" class="card-box h-100 py-3 border-custom rounded" data-bs-toggle="modal" data-bs-target="#file4Modal">
                    <div class="card-box-title">
                        <img style="opacity: 0.85;" src="/system10c/assets/room/file4.png?assetsVersion={{@root.assetsVersion}}" width="60%">
                    </div>
                    <div class="card-box-caption">
                        <div class="caption-head shadow-custom text-light">
                            Arquivo
                        </div>

                        <div class="caption-body shadow-custom">
                            #4
                        </div>
                    </div>
                </a>
            </div>

            {{> system10c/files/file3}}
            {{> system10c/files/file4}}

        {{else}}

            {{#if whatModule.gamaBeta}}

                <h3 class="my-2">INFOS</h3>

                <div class="col-6 col-sm-2 p-0 mb-3 overflow-hidden">
                    <a role="button" class="card-box h-100 py-3 border-custom rounded" data-bs-toggle="modal" data-bs-target="#file2Modal">
                        <div class="card-box-title">
                            <img style="opacity: 0.85;" src="/system10c/assets/room/file2.png?assetsVersion={{@root.assetsVersion}}" width="60%">
                        </div>
                        <div class="card-box-caption">
                            <div class="caption-head shadow-custom text-light">
                                Arquivo
                            </div>

                            <div class="caption-body shadow-custom">
                                #2
                            </div>
                        </div>
                    </a>
                </div>

                {{> system10c/files/file2}}

            {{else}}

                {{#if whatModule.lambda}}

                    <h3 class="my-2">INFOS</h3>
                    
                    <div class="col-6 col-sm-2 p-0 mb-3 overflow-hidden">
                        <a role="button" class="card-box h-100 py-3 border-custom rounded" data-bs-toggle="modal" data-bs-target="#file3Modal">
                            <div class="card-box-title">
                                <img style="opacity: 0.85;" src="/system10c/assets/room/file3.png?assetsVersion={{@root.assetsVersion}}" width="60%">
                            </div>
                            <div class="card-box-caption">
                                <div class="caption-head shadow-custom text-light">
                                    Arquivo
                                </div>

                                <div class="caption-body shadow-custom">
                                    #3
                                </div>
                            </div>
                        </a>
                    </div>

                    {{> system10c/files/fileX}}

                {{else}}

                    {{#if omegaContent.showOmega}}
                        <h3 class="my-2">INFOS</h3>
                    
                        <div class="col-6 col-sm-2 p-0 mb-3 overflow-hidden">
                            <a role="button" class="card-box h-100 py-3 border-custom rounded" data-bs-toggle="modal" data-bs-target="#file1Modal">
                                <div class="card-box-title">
                                    <img style="opacity: 0.85;" src="/system10c/assets/room/file1.png?assetsVersion={{@root.assetsVersion}}" width="60%">
                                </div>
                                <div class="card-box-caption">
                                    <div class="caption-head shadow-custom text-light">
                                        Arquivo
                                    </div>

                                    <div class="caption-body shadow-custom">
                                        #1
                                    </div>
                                </div>
                            </a>
                        </div>

                        {{> system10c/files/file1}}
                    {{/if}}

                {{/if}}

            {{/if}}

        {{/if}}

        <div class="w-100"></div>

        <h3 class="my-2">MÓDULO</h3>

        <div class="row col-12 col-sm-8 justify-content-center">
            {{#unless omegaContent.showOmega}}
                {{> system10c/allModules oneModule}} 
            {{else}}

                <div class="col-6 my-2" id="{{oneModule.name}}Card">
                    <a role="button" id="{{oneModule.name}}TagA" class="card-box card-box-module border-custom {{oneModule.specificClass}} rounded" data-bs-toggle="modal" data-bs-target="#{{oneModule.name}}Module" onclick="moduleSound()">
                        <div id="{{oneModule.name}}TitleCard" class="card-box-title shadow-custom {{oneModule.specificClass}}">
                            {{oneModule.name}}
                        </div>

                        <div class="card-box-caption">
                            <div class="caption-body shadow-custom {{oneModule.specificClass}} font-nasalization">
                                {{{oneModule.letter}}}
                            </div>
                        </div>
                    </a>
                </div>

                {{> system10c/modules/omegaModule omegaModuleContent}}

            {{/unless}}
        </div>
    </div>
</div>

<input class="d-none" id="omegaModuleSize" value="{{omegaModuleContent.length}}">
<input class="d-none" id="arrayIdOmegaModule" value="{{arrayIdOmegaModule}}">
<input class="d-none" id="allOmegas" value="{{allOmegas}}">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    const timeBlockDefault = 10

    var btnSnd1 = new Audio('/system10c/assets/sounds/btn0.mp3'),
        btnSnd2 = new Audio('/system10c/assets/sounds/btn1.mp3')

    window.onclick = clickSound;

    function moduleSound() {
        btnSnd1.play();
    }

    function clickSound() {
        btnSnd2.play();
    }

    function moduleDone(moduleName){
        alert("Módulo Concluído");
    }

    function sendOmega(){
        try{
            let allId = JSON.parse(gebid('arrayIdOmegaModule').value),
                dataToSend = {omega: {}}
        
            for(oneId of allId){
                dataToSend.omega[oneId] = document.querySelector('input[name="' + oneId + '"]:checked').value
            }

            gebid('modalQuestionsBody').classList.add('d-none')
            gebid('modalQuestionsFooter').classList.add('d-none')
            gebid('modalLoading').classList.remove('d-none')

            let allOmegas = JSON.parse(gebid('allOmegas').value),
                omegaValue = [0.0, 0.0]
                
            for(oneOmega of allOmegas){
                for(oneAlternative of oneOmega.alternatives){
                    if(oneAlternative.letter == dataToSend.omega[oneOmega._id.toString()]){
                        omegaValue[0] += oneAlternative.value[0]
                        omegaValue[1] += oneAlternative.value[1]

                        break
                    }
                }
            }

            alert('A: ' + omegaValue[0].toFixed(2) + '\nB: ' + omegaValue[1].toFixed(2) + '\n\nMódulo Concluído');

        }
        catch(err){
            gebid('errOmegaModule').classList.remove('d-none')
        }
    }

    function clog(content){
        console.log(content)
    }

    function gebid(elm){
        return document.getElementById(elm)
    }

</script>

<script src="/system10c/js/modules/{{oneModule.name}}.js"></script>