<div class="modal fade" id="file3Modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-custom {{@root.generalClass}}">
            <div class="modal-header border-custom {{@root.generalClass}} justify-content-center">
                <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>

                <div style="right: 3%; z-index: 10" class="position-absolute">
                    <a role="button" class="link-light text-decoration-none" tabindex="0" data-bs-html=true data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" data-bs-toggle="popover" title="Dicas" data-bs-content="<strong>(1X)</strong>: SP;<br><strong>(2X)</strong>: RJ e ES;<br><strong>(3X)</strong>: MG;<br><strong>(4X)</strong>: PR e SC;<br><strong>(5X)</strong>: RS;<br><strong>(6X)</strong>: DF, GO, TO, MT, MS, AC e RO;<br><strong>(7X)</strong>: BA e SE;<br><strong>(8X)</strong>: PE, AL, PB, RN, CE e PI;<br><strong>(9X)</strong>: PA, AM, RR, AM e MA.">
                        <i class="far fa-question-circle align-middle h3 m-0"></i>
                    </a>

                    <a role="button" class="link-light ms-2 text-decoration-none" data-bs-dismiss="modal">
                        <i class="fas fa-times align-middle h3 m-0"></i>
                    </a>
                </div>




            </div>
            <div class="modal-body font-nasalization">

                <div class="h5 mb-3">Informações já levantadas:</div>

                <div class="small my-2">Sandro é muito amigo de quem cuida da zeladoria e sempre leva um suco para essa pessoa;</div>
                <div class="small mb-2">Todos têm o telefone do responsável pela limpeza, que é do estado de São Paulo;</div>
                <div class="small mb-2">O e-mail da Julia tem relação com uma personagem de um jogo que virou série;</div>
                <div class="small mb-2">A lixeira do T.I. está sempre cheia de saquinhos de chá;</div>
                <div class="small mb-2">Júlia e Silvia têm o telefone com DDD do Paraná;</div>
                <div class="small mb-2">Silvia está sempre preocupada com sua hidratação;</div>
                <div class="small mb-2">O telefone do CEO tem o DDD do estado do Rio de Janeiro;</div>
                <div class="small mb-2">O Gerente de Projetos gosta de refrigerante.</div>

            </div>
        </div>
    </div>
</div> 

{{#if false}}
    <div class="modal fade" id="file3Modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-custom {{@root.generalClass}}">
                <div class="modal-header border-custom {{@root.generalClass}} justify-content-center">
                    <h4 class="modal-title text-center">ARQUIVO #3 (MI)</h4>
                </div>
                <div class="modal-body font-nasalization">

                    <div class="h5 mb-3">Informações já levantadas:</div>

                    <div class="small my-2">Sandro é muito amigo de quem cuida da zeladoria e sempre leva um suco para essa pessoa;</div>
                    <div class="small mb-2">Todos têm o telefone do responsável pela limpeza, que é xxxxx-2554;</div>
                    <div class="small mb-2">O e-mail da Julia tem relação com uma personagem de um jogo que virou série;</div>
                    <div class="small mb-2">A lixeira do T.I. está sempre cheia de saquinhos de chá;</div>
                    <div class="small mb-2">Sílvia está sempre preocupada com sua hidratação;</div>
                    <div class="small mb-2">O Gerente de Projetos gosta de refrigerante.</div>

                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="file3Modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-custom {{@root.generalClass}}">
                <div class="modal-header border-custom {{@root.generalClass}} justify-content-center">
                    <h4 class="modal-title text-center">ARQUIVO #3 (LAMBDA)</h4>
                </div>
                <div class="modal-body">

                    <div class="row justify-content-center text-center" style="font-size: 25px">
                        <div class="col-sm-5 align-self-center">
                            <img class="img-fluid" src="/system10c/assets/lambda/compass.png">
                        </div>

                        <div class="col-sm-7 align-self-center">
                            <div class="small-1 font-nasalization">

                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE - 
                                2 SE - 6 SO - 3 SE - 10 N - 10 S - 3 NE - 6 NO - 1 NE
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

{{else}}


{{/if}}